{{ define "main" }}
	{{ partial "js.html" . }}
	<div>
		{{ partial "breadcrumbs.html" . }}
		{{ if and .CurrentSection.Title (not .Params.hide_title) }}<h1>{{ .CurrentSection.Title }}</h1>{{ end }}
		{{ .Content }}
		{{ if .Params.auto }}
			<ul>{{ range .CurrentSection.Sections }}<li><a href="{{ .RelPermalink }}" >{{ .Title }}</a></li>{{ end }}</ul>
			<ul>{{ range .CurrentSection.Resources }}<li><a href="{{ .RelPermalink }}" >{{ .Title}}</a></li>{{ end }}</ul>
		{{ end }}

		{{ partial "relative-time.html" . }}
		
	</div>
{{ end }}
